.app__sidebar {
    width: 252px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--c-white);
    transition: all 0.4s ease;
    position: relative;
    flex: 0 0 auto;
}

.app__sidebar::-webkit-scrollbar {
    width: 8px;
    transition: all 0.2s ease;
    box-shadow: inset 0 0 2px 1px #f6f9ff0f;
}

.app__sidebar::-webkit-scrollbar-thumb {
    background-color: var(--c-lightBlue);
}

.app__sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #a2abbcbe;
}

.sidebar__center {
    width: 100%;
    height: 100%;
    padding: 0.4rem 0.8rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.6rem;
}

/* Sidebar Logo */

.sidebar__logo {
    width: 100%;
    height: 64px;
    flex: 0 0 auto;
    border-bottom: 1.2px dotted var(--c-priBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__logo img {
    width: 70%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.sidebar__logo button {
    display: none;
}

/* Sidebar Logo */

/* Sidebar Menu */

.sidebar__menu, .sidebar__logout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.6rem;
    margin: 0.2rem auto;
    padding: 0 0.4rem;
    padding-bottom: 1.2rem;
}

.sidebar__menu:not(:last-child) {
    border-bottom: 1.2px dotted var(--c-priBlue);
}

.sidebar__menu > p, .sidebar__logout > p {
    font-size: 0.8rem;
    color: #BDBDBD;
    text-align: left;
    letter-spacing: 0.8px;
}

.main__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4rem;
}

.main__menu > li, .sub__menu > li {
    width: 100%;
    list-style-type: none;
}

.main__menu > li > a, .main__menu > li button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    outline: none;
    padding: 0.6rem 0.4rem;
    border-radius: 8px;
    font-family: inherit;
    font-size: 0.98rem;

    color: var(--c-black);
    background-color: transparent;
    border: 1px solid transparent;
    transition: border 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.main__menu > li > a.active__page, .main__menu > li button.active__page {
    color: var(--c-priBlue);
    background-color: #335FE90F;
    border: 1px solid var(--c-midBlue);
}

.main__menu > li .sub__menu {
    height: 0;
    overflow-y: hidden;
    transition: all 0.3s ease;
}

.main__menu > li .sub__menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main__menu > li .sub__menu.active__submenu {
    width: 100%;
    height: 80px;
    padding: 0.6rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 1.2rem;
    border-left: 2.4px dashed var(--c-priBlue);
}

.sub__menu > li a {
    width: 100%;
    outline: none;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    font-family: inherit;
    font-size: 0.92rem;
    padding-left: 1.2rem;
    color: var(--c-black);
    background-color: transparent;
    position: relative;
    transition: border 0.4s ease, background-color 0.4s ease, color 0.4s ease-in;
}

.sub__menu > li a:before {
    position: absolute;
    content: "";
    left: -8.2px;
    z-index: 0;
    top: 50%;
    width: 18px;
    border: 1.2px solid var(--c-midBlue);
}

.sub__menu > li a.active__page {
    color: var(--c-priBlue);
    background-color: #335FE90F;
}

.sidebar__logout > button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    outline: none;
    padding: 0.6rem 0.4rem;
    border-radius: 8px;
    font-family: inherit;
    font-size: 0.98rem;

    color: var(--c-red);
    background-color: transparent;
    border: 1px solid transparent;
    transition: border 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

/* Sidebar Menu */

/* Media Queries */

@media (hover: hover) and (pointer: fine) {
    .main__menu > li > a:is(:hover, :focus-visible), .main__menu > li button:is(:hover, :focus-visible), .sidebar__logo button:is(:hover, :focus-visible) {
        color: var(--c-priBlue);
        background-color: #335FE90F;
        border: 1px solid var(--c-midBlue);
    }

    .sidebar__logout > button:is(:hover, :focus-visible) {
        color: var(--c-red);
        background-color: var(--c-white);
        border: 1px solid var(--c-red);
    }

    .sub__menu > li a:is(:hover, :focus-visible) {
        color: var(--c-priBlue);
        background-color: #335FE90F;
    }
}

@media all and (max-width: 1024px) {

    .app__sidebar {
        width: 0;
        position: fixed;
        height: 100vh;
    }

    .app__sidebar.toggle__sidebar {
        width: 252px;
        box-shadow: 4px 0 4px 2px #335ee927;
    }

    .sidebar__logo button {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        color: var(--c-black);
        border: 1px solid transparent;
        background-color: #335FE90F;
        outline: none;
        border-radius: 4px;
        transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    }

}

/* Media Queries */