.auth__banner {
    width: 50%;
    height: 100%;
    background-color: var(--c-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    align-items: center;
    padding: 0.8rem;
}

.auth__banner img:nth-child(1) {
    width: 194px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.auth__banner img:nth-child(2) {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

@media all and (max-width: 1074px) {
    
    .auth__banner {
        width: 100%;
    }

    .auth__banner img:nth-child(1) {
        width: 120px;
    }

    .auth__banner img:nth-child(2) {
        display: none;
    }

}