.map__skeleton {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 18px;
    background: linear-gradient(45deg, rgba(35, 35, 35, 0.495), transparent, rgba(93, 93, 93, 0.131));
    animation: load 2s infinite ease alternate;
}

@keyframes load {
    0% {
        opacity: 0.98;
    }

    30% {
        opacity: 0.72;
    }

    60% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.72;
    }

    100% {
        opacity: 0.92;
    }
}