* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-gray: #4F4F4F;
  --c-secGray: #333333;

  --c-white: #FFFFFF;
  --c-black: #000000;
  
  --c-priBlue: #335EE9;
  --c-midBlue: #7f95de;
  --c-lightBlue: #F6F9FF;

  --c-red: #EB5757;
  --c-green: #27AE60;

  --c-darkGreen: #2B7F75;
  --c-pinkPurple: #E3759D;
  --c-yellowBrown: #FFB46B;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  color: var(--c-black);
  background-color: var(--c-white);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media all and (max-width: 600px) {

  * {
    cursor: default !important;
  }

}