.form__select {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4rem;
}

.form__select p {
    font-size: 1rem;
    text-align: left;
    color: var(--c-gray);
    font-weight: 500;
}

.select__display {
    width: 100%;
    padding: 0.6rem 0.98rem;
    border-radius: 24px;
    outline: none;
    border: 1.5px solid #EEE;
    background: var(--c-white);
    transition: all 0.28s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 0.4rem;
}

.select__display span {
    font-family: inherit;
    font-size: 0.98rem;
    color: #757575;
    user-select: none;
    -webkit-user-select: none;
}

.all__options {
    width: 100%;
    flex-grow: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.all__options span {
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    background-color: var(--c-priBlue);
    color: var(--c-white);
    display: flex;
    align-items: center;
    gap: 0.4rem;
    cursor: default;
}

.all__options span button {
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: var(--c-white);
    color: var(--c-priBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    overflow: none;
    border-radius: 50%;
    font-size: 1rem;
}

.select__options {
    width: 100%;
    height: 192px;
    overflow-y: auto;
    background-color: var(--c-white);
    border: 2.4px solid var(--c-priBlue);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4rem;
    padding: 0.8rem;
    transition: all 0.28s ease;
}

.select__options::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.select__options p {
    width: 100%;
    text-align: left;
    font-size: 0.98rem;
    padding: 0.3rem 0.6rem;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.28s linear;
}

.select__options p:is(:hover, :focus-visible) {
    background-color: var(--c-midBlue);
    color: var(--c-secGray);
}

.select__options p.selected__option {
    background-color: var(--c-priBlue);
    color: var(--c-white);
}