.password__group {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
}

.password__group input {
    flex-grow: 1;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    border: 1.6px solid #23232398;
    padding: 0.6rem 1.2rem;
    border-radius: 8px 0 0 8px;
    outline: none;
    transition: border 0.2s ease;
}

.password__group button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1.6px solid #23232398;
    padding: 0.68rem;
    border-radius: 0 8px 8px 0;
    outline: none;
    transition: border 0.2s ease;
}

@media (width <= 600px) {
    .password__group input, .password__group button {
        font-size: 0.9rem;
        padding: 0.6rem 0.9rem;
    }
}